nextflow.enable.dsl = 2

def timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
dag {
    enabled = true
    overwrite = true
    file = "assets/dag.png"
}

profiles {
    hg19 {
    debug { process.beforeScript = 'echo $HOSTNAME' }

    includeConfig 'conf/biowulf_hg19.config'
    includeConfig 'conf/biowulf_slurm.config'
    includeConfig 'conf/docker.config'
    workDir = "$OUTDIR/work"
    outdir = "$OUTDIR"
    }
}

process {
    cpus = 2
}

manifest {
    name = "CCBR/TOOL_NAME"
    author = "CCR Collaborative Bioinformatics Resource"
    homePage = "https://github.com/CCBR/TOOL_NAME"
    description = "one-line description of TOOL_NAME goes here"
    mainScript = "main.nf"
}
