params {
input_dir = "/data/GBNCI/DATA/BSB09421-1634/fastq"
samplesheet = "/data/GBNCI/DATA/BSB09421-1634/samplesheet.tsv"
resultsdir = "/data/GBNCI/MeltzerLab_Nextflow_pipeline/results"
bwa_genomeindex = "/data/GBNCI/Ref/hg19/Index/bwa"
DNA_aligner = "bwa-mem2"
RNA_aligner = "star"
genome = "/data/GBNCI/Ref/hg19/GRCh37.primary_assembly.genome_ERCC92_ksorted.fa"
genome_fai = "/data/GBNCI/Ref/hg19/GRCh37.primary_assembly.genome_ERCC92_ksorted.fa.fai"
genome_dict = "/data/GBNCI/Ref/hg19/GRCh37.primary_assembly.genome_ERCC92_ksorted.dict"
phase1_1000g = "/data/GBNCI/Ref/hg19_gatk_res_tmp/1000G_phase1.indels.hg19.vcf"
phase1_1000g_idx = "/data/GBNCI/Ref/hg19_gatk_res_tmp/1000G_phase1.indels.hg19.vcf.idx"
Mills_and_1000g = "/data/GBNCI/Ref/hg19_gatk_res_tmp/Mills_and_1000G_gold_standard.indels.hg19.vcf"
Mills_and_1000g_idx = "/data/GBNCI/Ref/hg19_gatk_res_tmp/Mills_and_1000G_gold_standard.indels.hg19.vcf.idx"
star_genome_index = "/data/GBNCI/Ref/hg19/Index/index-STAR_2.7.9a"
gtf = "/data/GBNCI/Ref/hg19/gencode.v37lift37.annotation_ERCC92.gtf"
rRNA_interval = "/data/GBNCI/Ref/hg19_gatk_res_tmp/rRNA_body.txt"
transcript_gtf = "/data/GBNCI/Ref/hg19_gatk_res_tmp/gencode.v37lift37.transcript_ERCC92.gtf"
kraken2_db = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/20210223_standard_16GB_kraken2"
}
