params {
resultsdir = "$RESULTSDIR"
DNA_aligner = "bwa-mem2"
RNA_aligner = "star"
kraken2_db = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/20210223_standard_16GB_kraken2"
ref_folder = "/data/GBNCI/Ref"
fastq_screen_config = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/fastq_screen.conf"
fastq_screen_db = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/fastq_screen_db/"

}
