process {
    withName: 'Fastp' {
        container = 'nanozoo/fastp:0.23.1--9f2e255'
    }
    withName: 'BWA_mem2' {
        container = 'dovetailg/bwa-mem2:latest'
    }
    withName: 'GATK.*' {
        container = 'nciccbr/ccrgb_gatk_4.1.8.0:v1.0'
    }
    withName: 'Flagstat|Idxstats|CollectMultipleMetrics' {
        container = 'nciccbr/ccrgb_qctools:latest'
    }
}