process {
    withName: 'Fastp' {
        container = 'nanozoo/fastp:0.23.1--9f2e255'
    }
    withName: 'Fastq_screen' {
        container = 'nciccbr/ccbr_fastq_screen_0.14.1:latest'
    }
    withName: 'BWA_mem2' {
        container = 'dovetailg/bwa-mem2:latest'
    }
    withName: 'GATK.*' {
        container = 'nciccbr/ccrgb_gatk_4.1.8.0:v1.0'
    }
    withName: 'Flagstat|Idxstats|Picard.*|CollectMultipleMetrics|Fastqc' {
        container = 'nciccbr/ccrgb_qctools:latest'
    }
    withName: 'Star' {
        container = 'nciccbr/ccrgb_starplus:latest'
    }
    withName: 'RNAseQC' {
        container = 'nciccbr/ccrgb_rnaseqc_v1.1.8:latest'
    }
    withName: 'Kraken2' {
        container = 'staphb/kraken2:2.1.3'
    }
    withName: 'Krona' {
        container = 'pbelmann/krona:latest'
    }
    withName: 'Multiqc.*' {
        container = 'nciccbr/ccbr_multiqc_1.9:v0.0.1'
    }
    withName: 'NGSCheckMate.*' {
        container = 'migbro/ngscheckmate:1.3'
    }
}
